{% extends 'tasks/base.html' %}

{% block content %}

  <h2 class="mb-4">
    {% if form.instance.pk %}
      Update Task
    {% else %}
      Create Task
    {% endif %}
  </h2>

  <form method="POST" class="w-50">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
      {% if form.instance.pk %}
        Update
      {% else %}
        Create
      {% endif %}
    </button>
    <a href="{% url 'tasks:home' %}" class="btn btn-outline-secondary">Cancel</a>
  </form>

{% endblock content %}